{# Specify CSS section for in the site <head> #}

{# Include Bootstrap CSS from Websauna core package - http://getbootstrap.com/ #}
<link rel="stylesheet" href="{{ 'websauna.system:static/bootstrap.min.css'|static_url }}">

{# Include Font-Awesome icons from CDN - http://fontawesome.io/ #}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

{# Include some default Websauna styles #}
<link rel="stylesheet" href="{{ 'websauna.system:static/theme.css'|static_url }}">

{# Include authrest package theme #}
<link rel="stylesheet" href="{{ 'authrest:static/theme.css'|static_url }}">

{# Include CSS for widgets #}
{% if request.on_demand_resource_renderer %}
  {% for css_url in request.on_demand_resource_renderer.get_resources("css") %}
    <link rel="stylesheet" href="{{ css_url }}"></link>
  {% endfor %}
{% endif %}